@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
  :root {
  --primary-color: #D96AA7;
  --secondary-color: #422C73;
  --complimentary-color: #88BFB5;
  --contrast-color: #F2E527;
  --light-color: #D2A9D9;
  }
  
  .container {
    background: #191919;
    min-height: 100vh;
    padding: 0 30px;
    font-family: Montserrat, sans-serif;
  }
  
  nav a {
      font-size: 40px;
      color: #fff;
      text-decoration: none;
      padding: 20px;
      text-align: center;
  }
  
  nav {
      position: fixed;
      left: 0;
      z-index: 50;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100vh;
      background: #003366;
  }
  
  section {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 0;
      opacity: 0;
      transition: all ease-in .5s;
      display: flex;
      justify-content: center;
  } 
  
  section h1 {
      color: #000;
      font-size: 30px;
      opacity: 0;
  }
  
  /* Styles applied on trigger */
  section:target {
      opacity: 1;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
  }
  
  section:target h1 {
      opacity: 0;
      animation: 2s fadeIn forwards .5s;
  }
  
  #home {
    background: white;
  }
  #order {
    background: white;
  }
  
  #billing {
      background: var(--contrast-color);
  }
  
  #fourth {
      background: var(--light-color);
  }
  
  @keyframes fadeIn {
      100% { opacity:1 }
  }

  /*btn*/
.add_guest {
    background-color: #003366; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .add_guest:hover{
    background-color: #88BFB5;
  }
/*table*/
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

/*menu*/
.food-area {
  background-color: #f4f4f4;
  padding: 100px 0;
}
.container1 {
  width: 1000px;
  margin: 0;
}
.title {
  text-align: center;
  margin-bottom: 50px;
}
.title p {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 18px;
}
.title h4 {
text-transform: uppercase;
font-size: 40px;
margin-top: 5px;
}

.foods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-food {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 30px;
  overflow: hidden;
  flex-basis: 31%;
}
.food-img {
  position: relative;
  height: 220px;
  overflow: hidden;
  width: 100%;
}
.food-img img {
  border-radius: 12px 12px 0 0;
  transition: .3s;
}
.food-img h4 {
  position: absolute;
  left: 0;
  top: -50px;
  background-color: #ff7720;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 20px;
  font-size: 22px;
  font-weight: 600;
  transition: .3s;
}
.single-food:hover .food-img h4 {
  top: 0;
}
.single-food:hover img {
transform: scale(1.1) rotate(3deg);
}

.food-list {
  padding: 20px;
  list-style: none;
}
.food-list li {
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.food-list li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 600;
}
.single-food a {
  text-decoration: navajowhite;
  background-color: #ff7720;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  padding: 10px 20px;
  width: 160px;
  margin: 20px auto 25px auto;
  border-radius: 9px;
  transition: .3s;
}
.single-food a:hover {
  background-color: orange;
}

@media only screen and (min-width:992px) and (max-width:1170px) {
  .container{
      width: 970px;
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .container1{
      width: 750px;
  }
  .single-food{
      flex-basis: 49%;
  }
}

@media only screen and (max-width:767px) {
  .container{
      width: 350px;
  }
  .single-food{
      flex-basis: 100%;
  }
}
/*cart*/
.cd-cart__trigger,
.cd-cart__content {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: transform .2s;
}

.cd-cart--empty .cd-cart__trigger,
.cd-cart--empty .cd-cart__content { 
  transform: translateY(150px);
}

.cd-cart__layout {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: var(--radius);
  transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
  transition-timing-function: cubic-bezier(.67,.17,.32,.95);
  background: var(--cd-color-3);
  box-shadow: 0 4px 30px rgba(#000, .17);
}

.cd-cart--open .cd-cart__layout {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.cd-cart__product--deleted { 
  position: absolute;
  left: 0;
  width: 100%; 
  opacity: 0;
  animation: cd-item-slide-out .3s forwards;
}

@keyframes cd-item-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}